streamlit
streamlit-option-menu
SpeechRecognition
pytesseract
nltk
pymupdf
gTTS
numpy
pandas
bcrypt
numpy
pandas
pathlib
datetime
google.generativeai
opencv-python-headless
streamlit-webrtc
fpdf
